src/test/resources/mule-http-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081"/>

	<flow name="EchoFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="*"/>
		<logger message="About to echo #[payload]" level="INFO"/>
		<set-payload value="#[message.inboundProperties.'http.request.path']"/>
	</flow>

</mule>